<div>
  <form name="searchUser" ng-submit="search(username)">
    <div class="form-group ">
      {{ error }}
    </div>
    <div class="form-group ">
      <div class="">
        <input class="form-control" ng-model="username" placeholder="Enter a GitHub's username" required />
      </div>
    </div>
    <div class="form-group ">
      <div class="">
        <button type="submit" class="form-control btn-info" value="Search">Search GitHub</button>
      </div>
    </div>        
  </form>
</div>