<div ng-show="user">
  <hr>
  <h3>User: {{ user.name }}</h3>
  <img ng-src="{{ user.avatar_url }}" class="img img-thumbnail" style="width: 250px;">
  <br>
  <p>E-mail Address: {{ user.email }}</p>
  <p>Organisation: {{ user.company }}</p>
  <p>Biography: {{ user.bio }}</p>
  <p>Profile: <a href="{{ user.html_url}}" target="_blank">Click here</a></p>
</div>

<div ng-show="user">
  <hr>
  <h4>List of repositories</h4>   
  <div class="row">
    <div class="col-xs-6">
       <select class="form-control" ng-model="repoSortOrder" placeholder="Sort Order">
         <option value="+name" selected>Name</option>
         <option value="-stargazers_count">Stars</option>
         <option value="+language">Language</option>
       </select>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <input class="form-control pull-right" ng-model="searchrepo" placeholder="Search Repos" required />            
      </div>
    </div>        
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stars</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>
      <!--
      <tr ng-repeat="repo in repos | orderBy:'-stargazers_count'">
      -->
      <tr ng-repeat="repo in repos | orderBy:repoSortOrder | filter : searchrepo">
        <td>
          <a href="#/repo/{{user.login}}/{{repo.name}}">
            {{repo.name}}
          </a>
        </td>
        <td>{{repo.stargazers_count | number}}</td>
        <td>{{repo.language}}</td>
      </tr>
    </tbody>
  </table>
</div>